<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Your settings here ... -->
    <add key="EncryptLib.PrivateKey" value=""/>
    <add key="EncryptLib.Algorithm" value="AES/CTR/NoPadding"/>
    <add key="EncryptLib.IVLength" value="16"/>
    <add key="EncryptLib.IVSeperator" value=":"/>
  </appSettings>
</configuration>
